<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hoteldirectx</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/javascript" href="scripts.js"> -->
    <link rel="icon" type="https://docs.travelgatex.com/hoteldirect-x/images/favicon.ico" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://docs.travelgatex.com/hoteldirect-x/css/estilos.css">
</head>

<body>
    <div class="body-wrapp">
        <div class="container">
            <div class="row">
                <div class="overlay"></div>
                <!-- <div class="col-12 pt-2">
                      <div class="logo d-flex align-items-center">
                        <img class="mr-3" src="https://media.graphcms.com/atJRAgdPSGmmG1Nnhd8F" alt="Hotel Direct-X Logo">
                        <p class="m-0">Hotel Direct-X<br><span>by TravelgateX</span></p>
                      </div>
                    </div> -->
                <div class="col-12 title">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="https://docs.travelgatex.com/hoteldirect-x/images/directx-logo.png" alt="Hotel Direct-X Logo">
                        <!-- <img class="logo-title" src="https://docs.travelgatex.com/hoteldirect-x/images/hoteldirectX_logo.svg" alt="Hotel Direct-X title"> -->
                        <div>
                            <h1>HOTEL DIRECT-X<br><span>by TravelgateX</span></h1>
                        </div>
                    </div>
                    <h2>Helping you to work transparently with your partners giving<br> you full control of your
                        distribution &
                        supply
                        chain</h2>
                    <p><a href="https://www.travelgatex.com" target="_blank">TravelgateX</a> has been in the
                        connectivity business for almost a decade now. Nowadays markets are more volatile
                        than ever and technology have become very sophisticated. At Travelgate, we have always looked
                        for ways to
                        exceed
                        our partners’ changing needs. One of those needs is to increase their portfolio of directly
                        contracted
                        partners
                        in the most straightforward and timely manner. DirectX makes this possible! How, you ask? Well,
                        we are taking
                        advantage of our direct connectivity to many players, and making connecting hotel chains a
                        breeze! </p>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center directx-map">
                    <img src="https://docs.travelgatex.com/hoteldirect-x/images/mapa_hoteldirectx.gif" alt="Hotel Direct-X map">
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-5 big-event">
                            <div class="row">
                                <div class="product-logo d-flex align-items-center justify-content-center col-12">
                                    <img src="https://docs.travelgatex.com/hoteldirect-x/images/hotel.png" alt="Direct-X Hotel">
                                </div>
                                <div class="hotel hotel-direct fade-in col-12">
                                    <div>
                                        <h3>Hotel</h3>
                                        <p>We connect to your channel manager and export all the data we need.</p>
                                        <p>Hotels decide the pricing and can provide the content they want via their
                                            channel manager or a
                                            third
                                            party like ice-portal – can also apply any business rules such as market
                                            restrictions.</p>
                                    </div>
                                    <div class="btn-see d-flex align-items-center justify-content-end mt-3">
                                        <button type="button" class="d-flex align-items-center btn-hotel"
                                            >Benefits <i class="fa fa-plus ml-2"
                                                aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="see-more-hotel fade-in col-12">
                                    <div class="row">
                                        <h3>Benefits</h3>
                                        <ul>
                                            <li>Gain time and reduce the time-to-market in your distribution strategy.
                                            </li>
                                            <li>No need to sign an agreement with each OTA you want to work with.</li>
                                            <li>We are building a pool of OTAs by consolidating them in one connection
                                                which you can access
                                                through
                                                one single contract.</li>
                                            <li>Full control on pricing, content and restrictions.</li>
                                            <li>Possibility to offer flash sales and specific discounts.</li>
                                            <li>Leave the tech part to us and focus on product!.</li>
                                            <li>Get the fastest and fully optimised response time.</li>
                                            <li>OTAs start offering your product instantly as we take care of the
                                                mapping of your inventory for
                                                free
                                                for them.</li>
                                        </ul>
                                        <div
                                            class="closed d-flex align-items-center justify-content-center col-12 mb-3">
                                            <button type="button" class="closed-hotel"><i class="fa fa-times"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-5 big-event">
                            <div class="row">
                                <div class="product-logo d-flex align-items-center justify-content-center col-12">
                                    <img src="https://docs.travelgatex.com/hoteldirect-x/images/Otas.png" alt="Direct-X OTAs">
                                </div>
                                <div class="hotel ota-direct fade-in col-12" *ngIf="!otasee">
                                    <div>
                                        <h3>OTA</h3>
                                        <p>Hotel Direct-X enables OTAs to increase the portfolio of directly contracted
                                            hotels without
                                            additional
                                            developments or contracting teams and without any need to negotiate or to
                                            sign contracts</p>
                                    </div>
                                    <div class="btn-see d-flex align-items-center justify-content-center mt-3">
                                        <button type="button" class="d-flex align-items-center btn-ota">Benefits <i
                                                class="fa fa-plus ml-2" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="see-more-ota fade-in col-12" *ngIf="otasee">
                                    <div class="row">
                                        <h3>Benefits</h3>
                                        <ul>
                                            <li>Gain time and reduce the time-to-market in your distribution strategy.
                                            </li>
                                            <li>No need to sign an agreement with each hotel chain and/or channel
                                                manager you want to work with.
                                            </li>
                                            <li>We are building a pool of hotel and channel partners which you can
                                                access through one single
                                                contract & one single connection.</li>
                                            <li>Access to last minute rooms.</li>
                                            <li>Possibility to offer flash sales and specific discounts.</li>
                                            <li>Leave the tech part to us and focus on product!.</li>
                                            <li>Get the fastest and fully optimised response time.</li>
                                            <li>We simplify the payment process.</li>
                                        </ul>
                                        <div class="closed d-flex align-items-center justify-content-center col-12">
                                            <button type="button" class="closed-ota"><i class="fa fa-times"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-5 big-event">
                            <div class="row">
                                <div class="product-logo d-flex align-items-center justify-content-center col-12">
                                    <img src="https://docs.travelgatex.com/hoteldirect-x/images/tech-partner.png" alt="Direct-X tech-partner">
                                </div>
                                <div class="hotel tech-direct fade-in col-12" *ngIf="!techsee">
                                    <div>
                                        <h3>Tech-partner</h3>
                                        <p>We are creating a new way to serve our clients, just like we once built the
                                            largest hub of
                                            suppliers in the world, we are now building a hub of direct connection to
                                            hundreds of OTAs</p>
                                    </div>
                                    <div class="btn-see d-flex align-items-center justify-content-center mt-3">
                                        <button type="button" class="d-flex align-items-center btn-direct">Benefits <i
                                                class="fa fa-plus ml-2" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="see-more-tech fade-in col-12" *ngIf="techsee">
                                    <div class="row">
                                        <h3>Benefits</h3>
                                        <ul>
                                            <li>Thanks to our integrations with 50+ channel managers, we are looking to
                                                facilitate the
                                                connection by consolidating the OTAs in our platform</li>
                                            <li>Channel Managers / CRS / PMS / Tech Partners would partner up with Hotel
                                                Direct-X and with only
                                                one connection and one agreement, and instantly open a new channel of
                                                sales for all the hotels in
                                                their inventory. </li>
                                        </ul>
                                        <div
                                            class="closed d-flex align-items-center justify-content-center col-12 mb-3">
                                            <button type="button" class="closed-tech"><i class="fa fa-times"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 social-fix">
                            <ul>
                                <li><a href="https://slack.travelgatex.com/" target="_blank"><img
                                            src="https://docs.travelgatex.com/hoteldirect-x/images/slack-logo.png" alt="Slack logo"></a></li>
                                <li><a href="https://www.linkedin.com/company/travelgatex" target="_blank"><img
                                            src="https://docs.travelgatex.com/hoteldirect-x/images/linkedin-logo.png" alt="Linkedin logo"></a></li>
                                <li><a href="https://www.facebook.com/TravelgateX" target="_blank"><img
                                            src="https://docs.travelgatex.com/hoteldirect-x/images/facebook-logo.png" alt="Facebook logo"></a></li>
                                <li><a href="https://twitter.com/travelgatex" target="_blank"><img
                                            src="https://docs.travelgatex.com/hoteldirect-x/images/twitter-logo-silhouette.png" alt="Twitter logo"></a></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <ul class="menu-footer d-flex align-items-center justify-content-center w-100">
                                <li><a href="https://www.travelgatex.com/legalnotice" target="_blank">Privacy Policy</a>
                                </li>
                                <li><a href="https://www.travelgatex.com/termsandconditions" target="_blank">Terms &
                                        Conditions</a></li>
                                <li><a href="https://www.travelgatex.com/cookies" target="_blank">Cookies</a></li>
                                <li><a href="javascript:void(0)" data-toggle="modal"
                                        data-target=".bd-example-modal-lg">FAQS</a></li>
                                <li><a href="https://www.travelgatex.com/contact" target="_blank">Contact</a></li>
                            </ul>
                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">FAQS</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>So, who does what?</p>
                                            <ul>
                                                <li><span>Has TravelgateX become a consolidator?</span><br>Absolutely
                                                    not. We are creating a new
                                                    way to serve our clients, just like we once built the largest hub of
                                                    suppliers in the world, we
                                                    are now building a hub of direct connect to hotels.</li>
                                                <li><span>Is TravelgateX acting as principal?</span><br>Absolutely not,
                                                    TravelgateX continues
                                                    acting purely as a tech partner. Hotels are fully responsible for
                                                    the delivery of service at all
                                                    times.</li>
                                                <li><span>What is then the role of the OTA?</span><br>The OTA is the key
                                                    partner of the hotel
                                                    distributing their product.</li>
                                                <li><span>Is TravelgateX acting as a channel manager?</span><br>Not
                                                    exactly. We are handling
                                                    hotels rates and availability through our +50 connections with
                                                    channel managers where hotels
                                                    have their repository of product</li>
                                                <li><span>Do I still have to sign an agreement with
                                                        hotels?</span><br>There is no need to sign
                                                    agreements with every single hotel or chain. The contractual
                                                    relationship between the OTA and
                                                    the hotel is born simultaneously and tacitly with the formalization
                                                    of the reservation through
                                                    the Direct-X service.</li>
                                                <li><span>Do I still have to sign an agreement with channel
                                                        managers?</span><br>There is no need
                                                    to sign agreements with channel managers. TravelgateX will take care
                                                    of the connectivity with
                                                    hotels wherever hotels keep their inventory updated on.</li>
                                            </ul>
                                            <p>What’s is it for me?</p>
                                            <ul>
                                                <li><span>What’s is my commission?</span><br>The OTA will receive public
                                                    dynamic rates
                                                    additionally to the commission negotiated with the hotel. This could
                                                    vary from hotel to hotel at
                                                    every moment.</li>
                                                <li><span>How can I activate DirectX?</span><br>Easy, request your free
                                                    activation as usual by
                                                    filling in the form on the following link. Remember, this
                                                    connectivity is free of charge!</li>
                                                <li><span>Is there any minimum business required?</span><br>No, you can
                                                    start buying from one
                                                    booking. No restrictions at all.</li>
                                                <li><span>Costs</span><br>Is there any connectivity cost? There are no
                                                    hidden costs in activating,
                                                    DirectX. For all effects and purposes, DirectX would work just like
                                                    another Premium Partner. No
                                                    setup, no maintenance, no usage cost. It is the Hotels who are
                                                    covering it in order to get
                                                    direct access to you!</li>
                                            </ul>
                                            <p>Product</p>
                                            <ul>
                                                <li><span>What if I already buying the same hotel through a 3rd party
                                                        supplier?</span><br>Not a
                                                    problem at all. DirectX will constitute an additional source of
                                                    product at a potential different
                                                    price and availability.</li>
                                                <li><span>What hotels are going to be available on DirectX?</span><br>We
                                                    keep constantly expanding
                                                    the portfolio of hotels available through DirectX You can see the
                                                    list of hotels we have
                                                    included at any time via this link.</li>
                                                <li><span>Is there any cache between systems?</span><br>There is no
                                                    cache system between the OTA
                                                    and the hotels. TravelgateX can implement a cache solution if
                                                    necessary in order to improve the
                                                    response time.</li>
                                                <li><span>What about the mapping?</span><br>You can either use our own
                                                    mapping files or DirectX
                                                    can provide you the full mapped product.</li>
                                                <li><span>Do I have to take care of any systems setup?</span><br>Not at
                                                    all, it will just be one
                                                    additional Premium connection via TravelgateX.</li>
                                                <li><span>What if, at some point, I want to sign a direct agreement with
                                                        a hotel
                                                        chain?</span><br>No problem!. In that case, hotels would be also
                                                    available through a
                                                    traditional TravelgateX connection instead of via DirectX.</li>
                                            </ul>
                                            <p>Payments</p>
                                            <ul>
                                                <li><span>Is it a prepaid or postpaid type of product?</span><br>This is
                                                    all about prepaid product
                                                    meaning bookings should always be paid before the arrival of the
                                                    final customer. This way of
                                                    working should ensure the best rates and availability from hotels.
                                                </li>
                                                <li><span>How much should I pay?</span><br>The OTA will collect the
                                                    commissionable rate from its
                                                    customers. Once OTA’s commission is deducted, they will proceed to
                                                    pay the net rate to the
                                                    hotel.</li>
                                                <li><span>When should I pay?</span><br>Full payment is due at time of
                                                    the booking in case of
                                                    non-refundable rates. For refundable bookings, the OTA will be
                                                    responsible for settling payment
                                                    before the booking enters the cancellation period.</li>
                                                <li><span>What happen with cancelled bookings?</span><br>Bookings must
                                                    be cancelled online via
                                                    TravelgateX.</li>
                                                <li><span>Should I pay TravelgateX or should I pay the hotels
                                                        directly?</span><br>The OTA will
                                                    only have to pay the net price to the hotel. No payment is required
                                                    to TravelgateX.</li>
                                                <li><span>What are the payment types available?</span><br>Prepayment is
                                                    the key to get the most
                                                    competitive rates and availability from the hotels. TravelgateX has
                                                    two alternatives at your
                                                    disposal: Virtual Credit Card and Instant Transfers. In both cases:
                                                    <br>- OTA will have to sign an agreement with the financial entity
                                                    and open an account.
                                                    <br>- OTA will have to allocate in advance the necessary amount of
                                                    money.
                                                    <br>- TravelgateX will double check at the time of the booking and
                                                    before confirming it the
                                                    necessary funds are available in the OTA’s account. Otherwise
                                                    bookings cannot be confirmed.
                                                    <br>- TravelgateX will work with the most relevant financial
                                                    companies providing both solutions.
                                                </li>
                                            </ul>
                                            <p>Prices</p>
                                            <ul>
                                                <li><span>Will I get commissionable or net rates?</span><br>Travelgate
                                                    will make sure the OTA
                                                    receives both the net and the commissionable rate for the same hotel
                                                    room.</li>
                                                <li><span>Can I add a markup on top of the rates delivered by
                                                        hotels?</span><br>Rates are binding.
                                                </li>
                                                <li><span>What content (texts and pictures) I will be
                                                        receiving?</span><br>The OTA will receive
                                                    whatever is available in the channel manager, CRS or PMS that
                                                    TravelageX is pulling the
                                                    information from.</li>
                                                <li><span>How will I receive remarks from hotels?</span><br>Special
                                                    remarks from hotels are
                                                    provided by hotels in a text format and will arrive to the OTA
                                                    through their API with
                                                    TravelgateX.</li>
                                            </ul>
                                            <p>Invoicing</p>
                                            <ul>
                                                <li><span>What invoice should I expect to receive?</span><br>Hotels will
                                                    invoice the OTA for the
                                                    net amount that the OTA pays.</li>
                                                <li><span>Any other invoice?</span><br>No, that’s it. Hotels are
                                                    covering TravelgateX tech fees.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-center my-3 logo-footer">
                            <a href="https://www.travelgatex.com" target="_blank">
                                <img src="https://docs.travelgatex.com/hoteldirect-x/images/logo_travelgatex_claim_white.svg" alt="TravelgateX logo">
                            </a>
                        </div>
                        <div class="col-12 copyright mt-4">
                            <p>2019. All Rights Reserved. TravelgateX is made with <i class="fa fa-heart"
                                    aria-hidden="true"></i> and <i class="fa fa-coffee" aria-hidden="true"></i> in Palma
                                de Mallorca.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://docs.travelgatex.com/hoteldirect-x/js/scripts.js"></script>
</body>

</html>