@import './../../../sass/variables.scss';

* {
  font-family: 'Roboto', sans-serif;
}

.fa {
  font-family: 'fontawesome';
}

.body-wrapp {
  background-image: url(https://fxmedia.s3.eu-west-1.amazonaws.com/featured_images/5be2ec6c8e5331541598316.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 2em;

  .container {
    .overlay {
      background: #FFF;
      opacity: 0.95;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    // .logo{
    //   img{
    //     width: 80px;
    //   }
    //   p{
    //     color: #FFF;
    //     font-size: 1.8rem;
    //     line-height: 25px;
    //     span{
    //       font-family: 'Lato', sans-serif;
    //       font-size: 1.2rem;
    //     }
    //   }
    // }
    .title {
      margin-top: 5em;
      margin-bottom: 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 100px;
        margin-bottom: 1em;
      }

      h1 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-align: left;
        line-height: 32px;
        color: $body-color;

        span {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 1.8rem;
        }
      }

      h2,
      p {
        text-align: center;
        color: $body-color;
      }

      h2 {
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 1em;
        line-height: 36px;
      }
    }

    .directx-map {
      margin-bottom: 4em;

      img {
        width: 700px;
      }
    }

    .big-event {
      &:hover {
        .product-logo {
          img {
            transition: 0.2s all linear;
            transform: scale(1.1);
          }
        }
      }

      .product-logo {
        img {
          width: 80px;
          margin-bottom: 1em;
        }
      }

      .hotel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 340px;

        p,
        h3 {
          text-align: center;
          color: $body-color;
        }

        p {
          font-size: 1.1rem;
        }

        .btn-see {
          button {
            border: 1px solid $body-color;
            padding: 0.5em 1em;
            border-radius: 100px;
            background-color: transparent;
            color: $body-color;

            &:hover {
              transition: 0.2s all linear;
              background-color: $body-color;
              color: #FFF;
            }
          }
        }
      }

      .see-more {
        .closed {
          button {
            background: none;
            border-radius: 50%;
            border: 1px solid $body-color;
            color: $body-color;
            height: 30px;
            width: 30px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: $body-color;
              color: #FFF;
              transition: 0.2s all linear;
            }
          }
        }

        h3 {
          color: $body-color;
          text-align: center;
          width: 100%;
        }

        ul {
          li {
            color: $body-color;
          }
        }
      }
    }

    .social-fix {
      ul {
        position: fixed;
        top: 300px;
        left: 0;

        li {
          list-style: none;
          margin-bottom: 1.5em;

          a {
            img {
              width: 25px;
            }
          }

          &:hover {
            transition: 0.2s all linear;
            border-left: 5px solid $tech-company-color;
            padding-left: 5px;
          }
        }
      }
    }

    .menu-footer {
      margin-top: 10em;
      padding: 0;
      flex-wrap: wrap;

      li {
        list-style: none;
        margin: 0.5em;

        a {
          color: $body-color;
        }
      }
    }

    .modal {
      .modal-dialog {
        .modal-content {
          height: 85vh;

          .modal-body {
            overflow: auto;

            p {
              font-weight: 500;
            }

            ul {
              margin-bottom: 1em;

              li {
                line-height: 24px;
                margin-bottom: 0.5em;

                span {
                  color: $tech-company-color;
                }
              }
            }
          }
        }
      }
    }

    .logo-footer {
      img {
        width: 300px;
      }
    }

    .copyright {
      p {
        color: $body-color;
        text-align: center;
        font-size: 0.8rem;

        .fa-heart {
          color: $state-danger-text;
        }

        .fa-coffee {
          color: $green;
        }
      }
    }
  }
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// MEDIA QUERIES

@media (max-width: 1024px) {
  .body-wrapp{
    .container{
      .social-fix{
        ul{
          padding-left: 10px;
          li{
            a{
              img{}
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .body-wrapp {
    .container {
      .big-event {
        .hotel {
          min-height: 445px;
        }
      }
      .social-fix{
        margin-top: 10em;
        margin-bottom: 2em;
        ul{
          padding-left: 0;
          position: initial;
          display: flex;
          align-items: center;
          justify-content: center;
          li{
            margin-bottom: 0;
            margin-right: 1em;
            // a{
            //   img{}
            // }
          }
        }
      }
      .menu-footer{
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 425px) {
  .body-wrapp {
    .container {
      .big-event {
        .hotel {
          min-height: inherit;
        }
      }

      .title {
        img {
          width: 80px;
        }

        h1 {
          font-size: 1.5rem;
          line-height: 28px;

          span {
            font-size: 1.4rem;
          }
        }
      }

      .directx-map {
        img {
          width: 100%;
        }
      }
    }


  }
}
