// -----------------------------------------------------------------------------
// This file contains all variables related XTG project and Bootstrap overwritten variables.
// -----------------------------------------------------------------------------

// Table of Contents
// Colors
// Body
// Links
// Fonts
// Components
// Buttons
// Forms
// Dropdowns
// Tooltips
// Pagination
// Cards


// Assigning color names to specific hex values.
$white:   											#ffffff !default;
$black:  												#000 !default;
// $blue:   												#0562CE !default;  #0070f3 !default;
$blue:   												#0E38C0 !default;
$blue-dark:										  #082DA6;
$green:  												#2fd475 !default;
$green-dark:  									#0eb79b !default;
$yellow:                        #ffbf00 !default;

// Create grayscale
$gray-dark:                 		rgba(204, 213, 218, 0.6) !default;
$gray:                      		rgba(204, 213, 218, 1) !default;
$gray-light:                		rgba(234, 239, 243, 0.6) !default;
$gray-lighter:              		#eceeef !default;
$gray-lightest:             		#f7f7f9 !default;
$gray-ico:											#b7c7cf;

// Create gradients
$mo-header-gradient-left: 			#0754ae;
$mo-header-gradient-right: 			#0562ce;

// Reassign color vars to semantic color scheme
$brand-primary:             		$blue !default;
$brand-secondary:             	$green !default;

// Assign grayscale to border color
$border-light: 									$gray-light;
$border-dark:										$gray-dark;

// Creating color variables for type of client
$buyer-color:                   $yellow;
$seller-color:                  $green-dark;
$xseller-color:                 #86bb4d;
$tech-company-color:            #2293ff;
$metasearches-color:            #5A2E88;


// Body
//
// Settings for the `<body>` element.

$body-bg:       								#f6f8f9 !default;
$body-color:    								#182945 !default;


// Links
//
// Style anchor elements.

$link-color:            				$blue-dark !default;
$link-hover-color:      				$blue-dark !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// Font family
$font-family-roboto: 						'Roboto', sans-serif;
$font-family-lato:  						'Lato', sans-serif;

$font-family-sans-serif:				$font-family-roboto !default;

// Font weight
$font-weight-normal:            400 !default;
$font-weight-bold:              500 !default;

$font-weight-base:              $font-weight-normal !default;

$headings-font-weight:          400 !default;

// Font size
$font-size-base: 								0.875rem !default; // Assumes the browser default, typically `14px`

$font-size-h1: 									3.125rem !default;
$font-size-h2: 									2.375rem !default;
$font-size-h3: 									1.875rem !default;

// Font color
$font-primary: 									$body-color;
$font-color-secondary: 					rgba(32, 58, 83, 0.5);
$font-small: 										rgba(32, 58, 83, 0.5);

//Font weight
$font-weight-normal: 						normal !default;



// Components
//
// Define common padding and border radius sizes and more.

$border-radius:          				0.125rem !default;
$border-radius-lg:       				0.125rem !default;
$border-radius-sm:       				0.125rem !default;



// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-border-radius:              2px !default;
$btn-font-weight:                $font-weight-normal !default;

$btn-primary-color:              $white !default;
$btn-primary-bg: 								 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-primary-outiline-hover-bg:  rgba(234, 239, 243, 0.8);

// $btn-secondary-color:            $font-primary !default;
$btn-secondary-color:            $white !default;
$btn-secondary-bg:               $brand-secondary !default;
$btn-secondary-border:           $brand-secondary !default;

$btn-tertiary-color:             $brand-primary !default;
$btn-tertiary-bg:                transparent !default;
$btn-tertiary-border:            $brand-primary !default;

$btn-box-shadow:                 none !important;
$btn-focus-box-shadow:           none !important;
$btn-active-box-shadow:          none !important;

//$btn-padding-x:                  1rem !default;
//$btn-padding-y:                  .65rem !default;





// Forms

//$input-padding-x:                1rem !default;
//$input-padding-y:                .65rem !default;

$form-elements-border-color-focus: 		  rgba(32, 58, 83, 0.6);     // Border color for common form elements (Button dropdowns/inputs/... ) when thery're active or/and in focus state.

$input-color:                    				rgba(32, 58, 83, 0.8) !default;
$input-border-color:										$gray-dark !default;
$input-border-radius:            				2px !default;

$input-color-placeholder:        				rgba(32, 58, 83, 0.4) !default;

$input-color-focus:              				$font-primary !default;
$input-border-focus:             				$form-elements-border-color-focus !default;



// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-border-color:          $border-dark !default;
$dropdown-link-color:            $body-color !default;
$dropdown-link-hover-color:      $body-color !default;
$dropdown-link-hover-bg:         rgba(6, 98, 206, 0.05) !default;

$dropdown-link-active-color:     $body-color !default;
$dropdown-link-active-bg:        rgba(6, 98, 206, 0.05)  !default;
$dropdown-item-padding-x:        1rem !default;


// Tooltips
$tooltip-bg:                  	 #485465 !default;
$tooltip-max-width:              200px !default;
$tooltip-padding-y:              8px !default;


// Pagination
$pagination-color:                     $link-color !default;
$pagination-bg:                        $white !default;
$pagination-border-color:              transparent !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  transparent !default;
$pagination-hover-border:              transparent !default;

$pagination-active-color:              $white !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               $white !default;
$pagination-disabled-border:           #ddd !default;

// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:                    #2a7c54 !default;
$state-success-bg:                      #c4Edb1 !default;
$state-success-border:                  #c4Edb1 !default;

$state-info-text:                       #31708f !default;
$state-info-bg:                         #d9edf7 !default;
$state-info-border:                     #d9edf7 !default;

$state-warning-text:                    #a97f02 !default;
$state-warning-bg:                      #fff6da !default;
$mark-bg:                               $state-warning-bg !default;
$state-warning-border:                  #fff6da !default;

$state-danger-text:                     #bc0622 !default;
$state-danger-bg:                       #f2dede !default;
$state-danger-border:                   #f2dede !default;

// Cards
$card-border-color:                     $border-dark !default;
$card-cap-bg:                           $white !default;


// Progress bars

$progress-height:                       0.8rem !default;
$progress-font-size:                    .75rem !default;
$progress-bg:                           $gray-lighter !default;
$progress-border-radius:                1rem !default;
$progress-box-shadow:                   inset 0 .1rem .1rem rgba($black,.1) !default;
$progress-bar-color:                    $white !default;
$progress-bar-bg:                       $green-dark !default;
$progress-bar-animation-timing:         1s linear infinite !default;
